.lmj-banner {
  padding: 32px;
  text-align: right;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.lmj-logo {
  width: 45px;
  height: 45px;
}

.lmj-title {
  margin-left: 26px;
}
